.landing {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.enterButton {
    background-color: white;
    color: black;
    padding: 1rem 4rem;
    border-radius: 0.5rem;
    border-color: white;
    margin-bottom: 3.5rem;
}

.enterButton:hover {
    background-color: gray;
    color: white;
}

.landing img {
    max-width: 100%;
    max-height: 45rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.socialIcons {
    color: white;
    width: 100%;
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    /* padding: 0 4.5rem; */
}