.categories {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #000000;
}

.category {
  width: 100vw;
  height: 28rem;
  filter: grayscale(100%);
  margin: 0.5rem 0 0.5rem 0;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.category:hover {
  filter: none;
}

.linkHead {
  font-weight: bold;
  color: white;
  margin-left: 2rem;
  margin-bottom: 2.5rem;
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 3;
}

.about, .appointment {
  background-image: url("../../images/categories/cvGraff.png");
}

.portfolio, .contact {
  background-image: url("../../images/categories/inkzShop.jpg");
}

.calendar, .shop {
  background-image: url("../../images/categories/desert74.png");
}

@media only screen and (max-width: 95rem) {
  .categories {
    margin-top: 4rem;
    width: 100%;
  }

}