@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');

.mainBio {
    font-size: var(--primary-text);
    text-align: justify;
    letter-spacing: 0.2px;
    line-height: 2;
    padding: var(--main-padding) 2rem 0;
}

.signature {
    margin-top: 2rem;
    text-align: right;
    font-size: 3.2rem;
    padding-bottom: 1.5rem;
    font-family: 'Sedgwick Ave Display', cursive;
}

@media only screen and (max-width: 850px) {
    .mainBio {
        line-height: 1.35;
        padding: 0 0.75rem;
    }
}
