.calendarWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* padding: var(--main-padding) 1rem; */
}

.calendarTitle {
    align-self: flex-start;
}

.eventsWrapper {
    padding: 3rem 0;
}