header {
    width: 100%;
    height: var(--header);
    position: fixed;
    top: 0;
    left: 0;
    background-color: #324A5F;
    display: flex;
    justify-content: center;
    z-index: 99;
}

.navWrap {
    display: flex;
    justify-content: space-between;
}

.branding {
    height: 100%;
    max-height: 7rem;
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    padding: 0.5rem 2rem;
}

.branding img {
    max-height: 100%;
    width: auto;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem 2rem;
}

.menu {
    display: flex;
}

.links {
    font-size: var(--nav-links);
    font-weight: 400;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
}

.mobileIcon {
    display: none;
}

@media only screen and (max-width: 850px) {
    .menu {
        display: none;
    }
    .mobileMenu {
        position: absolute;
        top: var(--header);
        left: 0;
        width: 100vw;
        height: calc(100vh - var(--header));
        background-color: rgba(0,0,0,0.8);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .mobileMenu li {
        font-weight: bold;
        padding: 1rem 3rem;
    }
    .mobileIcon {
        display: block;
    }

}