.app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #fdffff;
  /* background-color: #011627; */
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 90rem;
  min-height: 100%;
}

/* heading at the top of each section/page */
.pageTitle {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

input, textarea {
  background-color: #011627;
  border: none;
  border-bottom: 0.02rem solid #364652;
  text-transform: uppercase;
  margin: 1rem 0.5rem;
  width: 100%;
}

.mainSection {
    margin-top: var(--header);
    min-height: calc(100vh - var(--header) - var(--footer));
    width: 100%;
    display: flex;
    justify-content: center;
}