.app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #fdffff;
  background-color: #011627;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 90rem;
  min-height: 100%;
}

.pageTitle {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

input, textarea {
  background-color: #011627;
  border: none;
  border-bottom: 0.02rem solid #364652;
  text-transform: uppercase;
  margin: 1rem 0.5rem;
  width: 100%;
}