.albumWrapper {
    display: flex;
}

.photos {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.photos img {
    margin: 0.25rem;
}

.fullView {
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    justify-content: flex-start;
    top: var(--header);
    bottom: var(--footer);
    left: 0;
    width: 100%;
    max-height: calc(100vh - var(--header) - var(--footer));
}

.fullImage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    max-width: 90%;
    max-height: 100%;
    z-index: 98;
}

.fullImage img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.imageControl {
    width: 50%;
    display: flex;
    padding: 0.25rem 0;
}

.controls {
    cursor: pointer;
    width: 33.3%;
}